{% extends "base.html" %}

{% block content %}
{% load static %}
<section class="about">
  <div class="container">
    <h1>About Us</h1>
    <p>NexusInfo is dedicated to providing innovative software solutions. Our mission is to revolutionize the tech industry with our cutting-edge products.</p>
    <h2>Our Mission</h2>
    <p>To create high-quality software that meets the needs of our clients and exceeds their expectations.</p>
    <h2>Our Vision</h2>
    <p>To be a leader in the software industry, known for our innovation, customer service, and dedication to excellence.</p>
    <h2>Our Team</h2>
    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'images/download.jpeg' %}" alt="Team Member 1" class="img-fluid">
        <h3>John Doe</h3>
        <p>CEO</p>
      </div>
      <div class="col-md-4">
        <img src="{% static 'images/download.jpeg' %}" alt="Team Member 2" class="img-fluid">
        <h3>Jane Smith</h3>
        <p>CTO</p>
      </div>
      <div class="col-md-4">
        <img src="{% static 'images/download.jpeg' %}" alt="Team Member 3" class="img-fluid">
        <h3>Emily Johnson</h3>
        <p>COO</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
